.createproduct-main
    display: flex
    font-family: 'Roboto', sans-serif
    background: #eeeeee

.createproduct-content
    font-family: 'Roboto', sans-serif
    width: 100%
    margin: 60px
    background: #fff

.createproduct-title
    font-size: 18px
    margin-top: 20px
    margin-left: 20px

.createproduct-subtitle
    font-size: 14px
    width: 350px
    margin-top: 6px
    margin-left: 20px

.createproduct-form
    margin-top: 30px
    margin-left: 20px

.createproduct-price
    display: flex
    justify-content: space-between