 
.admin-attributes-main
    display: flex
    font-family: 'Roboto', sans-serif
    background: #eeeeee

.admin-attributes-content
    display: flex
    font-family: 'Roboto', sans-serif
    width: 100%
    margin: 60px
    background: #fff
    