.icon
    margin-left: -20px
    align-self: center
    display: flex
    align-items: center
    padding-top: 5px

.dropdown-text
    height: 100%

.placeholder
    font-size: 11px
    color: rgba(0, 0, 0, 0.6)
    margin-top: 3px
    margin-bottom: 5px

.buttons
    display: flex
    flex-direction: column
    align-items: center
    cursor: pointer
    justify-content: space-between

input:required
    box-shadow: none

input
    background: transparent
    border: none
    opacity: 1
    appearance: none
    outline: none
    position: absolute
    padding-left: 25px
    padding-top: 8px

.arrow
    padding-left: 25px
    padding-right: 20px
    z-index: -1
    outline: none
    display: flex
    justify-content: space-between
    align-items: center
    font-size: 14px
.icon
    margin-top: -2px
