.page-numbers
    display: flex
    margin-bottom: 80px
    margin-left: 2.85vw
    align-items: center
    justify-content: space-between

.numbers
    display: flex
    cursor: pointer

.prev
    cursor: pointer
