.page-numbers
    display: flex
    margin-bottom: 80px
    margin-left: 2.85vw
    align-items: center
    justify-content: center

.numbers
    display: flex
    cursor: pointer

.prev
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    border: 1px solid #d9d9d9
    height: 36px
    width: 100px

.closed
    color: #d9d9d9
